In [1]:
from main import Control_database
database = Control_database()

### INSERT

In [3]:
database.insert((
    ('Rafael Soares de Oliveira',  3),
    ('Maria Soares da Silva', 3),
    ('Rafael Soares de Oliveira',  3),
    ('Maria Soares da Silva', 3),
    ('Rafael Soares de Oliveira',  3),
    ('Maria Soares da Silva', 3),
    ('Rafael Soares de Oliveira',  3),
    ('Maria Soares da Silva', 3)
))

INSERT INTO customers(name, weight)VALUES(?, ?)

### SELECT

In [ ]:
database.select(f'SELECT * FROM {database.TABLE_NAME} WHERE name == "Rafael Soares de Oliveira"')

In [12]:
database.select('all')

Database: db.sqlite3 - Table: customers
Empty DataFrame
Columns: []
Index: []

In [ ]:
database.select(f'SELECT * FROM {database.TABLE_NAME} WHERE name LIKE "Rafael%"')

In [ ]:
database.select(f'se * FROM {database.TABLE_NAME} WHERE name == "Rafael Soares de Oliveira"')

### DELETE

In [ ]:
database.delete(f'DELETE FROM {database.TABLE_NAME} WHERE name LIKE "Rafael%"')

In [ ]:
database.delete(f'DELETE FROM {database.TABLE_NAME} WHERE name LIKE "Maria%"')

In [11]:
database.delete(f'DELETE FROM {database.TABLE_NAME}')

DELETADO!

### UPDATE

In [9]:
database.update(f'UPDATE {database.TABLE_NAME} SET name="Rafael Soares da Silva"\
                WHERE name = "Mario Soares da Silva"' )

UPDATE